---
layout: layouts/base.njk
---

{% set indexPage = true %}

{%- css %}{% include "public/styles/page/style.css" %}{%- endcss %}

<section class="jumbotron about-me">
  <a href="/" class="home-btn">
    <h1>Alice Kile</h1>
  </a>
  {% include "nav.njk" %}
  <p>
    I’m a full stack developer with experience in ecommerce and design systems. I believe in a strong cohesion of Business, User Experience, Technology for success!<br /><br />

    Topics I find interesting include: <a href="https://www.fsf.org/about/what-is-free-software" alt="Link to FSF's definition of Free Software">free software</a>, web, ux design, design systems, linux, nodejs, react, p2p, fediverse, accessibility, c, c++, javascript, html, css.<br /><br />
  </p>
  <p>Find my resume
    <a href="/docs/resume.pdf" alt="Alice's resume">here</a>
  </p>
</section>

{%- css %}{% include "public/styles/index.css" %}{%- endcss %}
