<section>
  <table>
      <thead>
        <tr>
          <th>
            Item
          </th>
          <th>
            Description
          </th>
          <th>
            Link
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Beepbox
          </td>
          <td>
            Super cool MIDI tool online!
          </td>
          <td>
            <a alt="Link to beepbox" href="/beepbox.html">Go</a>
          </td>
        </tr>
      </tbody>
    </table>
</section>
