{%- css %}{% include "public/styles/page/nav.css" %}{%- endcss %}
<header class="page-header">
  <nav>
    <ol>
      <li><a href="/" alt="Go to Homepage">Alice Kile</a></li>
      <li><a href="https://github.com/elevenpassin/">code</a></li>
      <li><a href="/blog">writings</a></li>
      <li><a href="/wiki">wiki</a></li>
      <li><a href="/links">links</a></li>
      <li><a href="https://forms.gle/XHdJVvt21dXLYVZi8">contact</a></li>
    </ol>
  </nav>
</header>
