body {
  display: grid;
  grid-template-rows: [page-start] 1fr [aboutme-start] auto [aboutme-end] 1fr [page-end];
  grid-template-columns: [page-start] 1fr [aboutme-start] auto [aboutme-end] 1fr [page-end];
  height: 100vh;
  width: 100vw;
}


.about-me {
  grid-area: aboutme;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.page-header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
