body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-auto-rows: max-content;
}

table,
table td,
table th {
  border: 1px solid black;
}

table td,
table th {
  padding: 10px;
}

section.page-section {
  grid-column: 2;
  padding: 20px;
}

.jumbotron {
  margin-top: 50%;
}

div.img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: url(./alice.png) no-repeat center/cover;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

nav a {
  font-weight: 600;
  margin-right: 10px;
  padding-top: 10px;
}

nav a:last-child {
  margin: 0;
}

.jumbotron a,
nav a,
nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: underline;
}